*{
    margin:0;
    padding:0;
    box-sizing: border-box  ;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo{
    font-size: 45px;
    font-weight:900;
}
.color-orange{
    color:#FD6E0A;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    padding:18px 35px;
    color:#ffffff;
    border-radius: 5px;
    font-size:20px;
    font-weight: bold;
    cursor: pointer;
}

.section-heading{

}
.section-heading h2{
    color:#181818;
    margin-bottom:30px;
    font-size:35 px;
    font-weight: bold;
}
.section-heading p{
    color:#757575;
    font-size: 18px;
    margin-bottom: 30px;
}       

/* Main style */
header{
    background-color: #FFF8F3;
    background: url(../images/developer.png) , url(../images/header_bg.png) ,#FFF8F3;
    background-repeat: no-repeat;
    background-position:left, bottom right ;
    padding-top:50px;
}
nav{
    width:71%;
    max-width: 1140px;
    /* border:1px solid red; */
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size:20px;
    color:#474747;
    text-decoration:none;
}
#banner{
    /* border: 1px solid red; */
    margin: 46px 38px 0px 230px;
    justify-content: space-between;
    display: flex;
    align-items:center;
}
    
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color:#474747;
    font-weight:600;
    font-size:45px;
    margin-bottom:5px;
}
#banner .banner-content h1{
    color:black;
    font-weight:bold;
    font-size:85px;
    margin-bottom:20px;
}
#banner .banner-content p{
    color: #757575;
    font-size: 18 px;
    margin-bottom:30px;

}
#banner .banner-img img{
    max-width:585px;
    /* border:1px solid red; */
    vertical-align:middle;
}
.about{
    padding-top:130px;
}
.about .about-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;
    text-align:center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}

.about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about .info-card p{
    color:#757575;
    font-size: 20px;
    line-height: 30px;
}
.about .info-card h2{
    color:#474747;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}